*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg,#061de3,#e306ca);
}
.container{
    width: 180px;
    height: 300px;
    perspective: 800px;
    display: inline-block;
}
.container:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg) rotatez(180deg);
}
.card{
    height: 100%;
    width:100%;
    position: relative;
    transition:transform 1500ms;
    transform-style: preserve-3d ;
}

.front , .back{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 5px 2px rgba(50,50,50,0.25);
    position: absolute;
    backface-visibility: hidden;
}
.front{
    background-image: url(p6.jpg);
    background-size: cover;
   
}
.back{
    background-color: #3a3a3a;
    transform: rotateY(180deg) rotateZ(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
